<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PD Hours / Squads</title>

</head>

<body>

	<div layout:fragment="body">

		<div class="row">
			
			<div class="container">
				
				<div th:if="${squads.empty}">
					<div class="card">
						<img class="img-emoji" src="/assets/images/emoji.svg">
						<p>Nenhuma squad cadastrada. Crie uma squad para começar</p>
						<button data-toggle="modal" data-target="#modal-squad" class="btn btn-primary">Criar squad</button>
					</div>
				</div>

				<div th:if="${!squads.empty}">
					
					<h1 class="title">Lista de Squads</h1>
				
					<div class="card-table">
						
						<table class="table table-rounded">
							<thead>
								<tr>
									<th class="text-center">ID</th>
									<th>Nome</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								
								<tr th:each="squad: ${squads}">
									<td class="text-center" style="width:250px" th:text="${squad.id}">1</td>
									<td th:text="${squad.name}">Squad</td>
									<td class="text-end">
										<a th:href="@{/squad/detail/{id} (id=${squad.id})}" class="btn btn-primary">Visitar squad</a>
									</td>
								</tr>
							
							</tbody>
						</table>

						<div class="item-row-center mt-50">
							<button data-toggle="modal" data-target="#modal-squad" class="btn btn-primary">Criar squad</button>
						</div>

					</div>

				</div>

			</div>

		</div>

	</div>


</body>
</html>